/* shared styles */
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.dark-3{
    color: #757575;
}

.button-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.background{
    background-color: rgba(255, 248, 243, 1);
}

.block-span{
    display: block;
}

/* header styles */
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-left: 30px;
}

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
}
nav ul{
    display: flex;
    font-size: 20px;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav ul a{
    text-decoration: none;
}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
}

.nav-title-different{
    color: #FD6E0A;
}

.nav-button{
    margin-bottom: 45px;
}

/* banner styles. */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 230px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 700px;
    margin-top: 185px;
    margin-bottom: 5px;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
    /* margin-top: 5px; */
    margin-bottom: 20px;
}

.paragraph-size{
    max-width: 580px;
}

.button-gap{
    margin-top: 30px;
}

.banner-image{
    height: 670px;
    width: 580px;
}

/* about styles */
.about{
    text-align: center;
    background-color: rgba(255, 248, 243, 1);
    margin: 130px 230px;
    padding: 130px 155px;
    border-radius: 10px;
}

.about-title{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-discription{
    font-size: 18px;
    margin-bottom: 30px;
}

.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 180px;
    margin-right: 180px;    
}

.item-title{
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
}

.item-discription{
    font-weight: bold;
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
}

/* skill styles */
.skill{
    margin-top: 130px;
}

.skill-container{
    text-align: center;
}

.skill-title{
    font-size: 35px;
    font-weight: bold;
}

.skill-discription{
    font-size: 18px;
    margin: 30px 345px 50px 345px;
}

.skill-name{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-bottom: 130px;
}

.skill-name-container{
    background-color: rgba(255, 255, 255, 1);
    max-width: 265px;
    max-height: 375px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skill-name-image{
    height: 45px;
    width: 45px;
}

.skill-name-title{
    font-size: 20px;
    color: rgba(24, 24, 24, 1);
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-name-discription{
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
    word-spacing: 2.5px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    width: 200px
}

/* resume styles */
.resume-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.resume-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 115px;
    margin-bottom: 50px;
}

.container-main-title{
    color: rgba(71, 71, 71, 1);
    font-size: 30px;
    font-weight: bold;
}

.container-title{
    color: rgba(71, 71, 71, 1);
    font-size: 25px;
    font-weight: bold;
}

.container-date{
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    font-weight: 700;
}

.container-discription{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    width: 480px;
}

.container-button{
    text-align: center;
    margin-bottom: 115px;
}

/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 115px;
    justify-content: center;
}

.footer-title{
    font-size: 35px;
    font-weight: bold;
    color: rgba(24, 24, 24, 1);
}

.footer-paragraph{
    color: rgba(71, 71, 71, 1);
    margin-top: 20px;
    margin-bottom: 30px;
}

footer a{
    padding-right: 20px;
    height: 25px;
    width: 25px;
}

 input[type=text], [type=email], footer textarea{
    display: block;
    margin-bottom: 25px;
    border: none;
    height: 65px;
    border-radius: 5px;
    background-color: white;
    width: 460px;
    padding: 10px 20px;
    color: rgba(71, 71, 71, 1);
}

footer textarea{
    height: 180px;
}

/* responsive media query */
@media screen and (max-width: 600px) {
    nav, .banner, .skill-name, .resume-container, footer, .about-items{
        flex-direction: column;
    }

    .about, .about-items, .skill-discription, .skill-name, .skill-name-container, .resume-container, .resume-title, .nav-title{
        margin: 20px;
    }

    header{
        background-image: none;
        padding: 0px;
    }

    .button-primary{
        margin-top: 20px;
    }

    .banner-image{
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .banner, nav, .banner-greetings, .banner-title, .about-discription, nav ul{
        margin: 0px;
    }

    .skill-name-image{
        padding-top: 20px;
    }

    .skill, .footer-column{
        margin-bottom: 50px;
    }

    .skill-name{
        align-items: center;
    }
    
    .about, .skill-name-container, footer, .banner{
        padding: 0px 20px;
    }

    .container-discription, .paragraph-size{
        width: 100%;
    }
    
    footer{
        gap: 0px;
    }

    input[type=text], [type=email], footer textarea {
        height: 45px;
        width: calc(100% - 40px);
    }
}

@media screen and (min-width: 600px) and (max-width: 1100px) {
    .hide{
        visibility: hidden;
    }

    header{
        background-position: bottom left, bottom right;
    }

    .banner{
        flex-direction: column;
    }

    .banner, nav{
        margin: 0px 100px;
    }

    .banner-greetings{
        margin-top: 80px;
    }

    .banner-image{
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }

    .about{
        margin: 130px;
        padding: 130px;
    }

    .about-items{
        margin: 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .skill-name{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .skill-discription{
        margin: 50px;
    }
}